In [1]:
import pandas as pd

In [2]:
obj = pd.Series([4,7,5,3])

In [3]:
type(obj)

pandas.core.series.Series

In [4]:
obj = pd.Series([4,7,-5.0,'a'])

In [6]:
for i in range(4):
    print(type(obj[i]))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'str'>

In [7]:
obj.values

array([4, 7, -5.0, 'a'], dtype=object)

In [8]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [12]:
obj2 = pd.Series([1,2,3,4], index = ['a','b','a','d'])

In [13]:
obj2

a    1
b    2
a    3
d    4
dtype: int64

In [11]:
print(obj2)

a    1
b    2
c    3
d    4
dtype: int64

In [19]:
obj2.index = ['Kim','Soo','Kim','im']

In [20]:
obj2

Kim    1
Soo    2
Kim    3
im     4
dtype: int64

In [22]:
obj2[0]

1

In [23]:
sdata = {'ohio':35000,'texas':25000}

In [24]:
pd.Series(sdata)

ohio     35000
texas    25000
dtype: int64

In [25]:
sdata = {'Ohio':35000,"Texas":25000,"LosAngel":15000,"CheonAn":5000}

In [26]:
data = pd.Series(sdata)

In [27]:
data

Ohio        35000
Texas       25000
LosAngel    15000
CheonAn      5000
dtype: int64

In [33]:
state = ['Ohio','Texas','California']

In [34]:
obj4 = pd.Series(data,index=state)

In [35]:
obj4

Ohio          35000.0
Texas         25000.0
California        NaN
dtype: float64

In [31]:
obj4 = pd.Series(data,state)

In [32]:
obj4

Ohio     35000
Texas    25000
dtype: int64

In [36]:
obj4

Ohio          35000.0
Texas         25000.0
California        NaN
dtype: float64

In [37]:
obj4.isnull()

Ohio          False
Texas         False
California     True
dtype: bool

In [41]:
obj4.notnull()

Ohio           True
Texas          True
California    False
dtype: bool

In [42]:
obj4.name = 'population'

In [43]:
obj4.index.name='state'

In [44]:
obj4

state
Ohio          35000.0
Texas         25000.0
California        NaN
Name: population, dtype: float64

In [45]:
obj4*2

state
Ohio          70000.0
Texas         50000.0
California        NaN
Name: population, dtype: float64

In [48]:
obj3 = pd.Series({'Ohio':35000,'California':25000,'Utah':10000,'Texas':5000})
obj4 = pd.Series({'Ohio':35000,'California':25000,'Utah':10000})

In [49]:
obj3+obj4

California    50000.0
Ohio          70000.0
Texas             NaN
Utah          20000.0
dtype: float64

In [54]:
import numpy as np
list1 = ['Ohio','Ohio','Ohio','Nevada','Nevada','Nevada']
list2 = [2000,2001,2002,2001,2002,2003]
list3 = [15000,17000,36000,24000,29000,32000]

In [55]:
data = {'state': list1,
       'year':list2,
       'pop':list3}

In [56]:
pd.DataFrame(data)

    state  year    pop
0    Ohio  2000  15000
1    Ohio  2001  17000
2    Ohio  2002  36000
3  Nevada  2001  24000
4  Nevada  2002  29000
5  Nevada  2003  32000