In [1]:
def div_ingredient(load):    
    metro = load[:,0]
    num_family = load[:,1].astype('int64')
    age_captain = load[:,2].astype('int64')
    asset=load[:,3].astype('int64')
    debt=load[:,4].astype('int64')
    
    return metro, num_family, age_captain,asset,debt

In [3]:
%%time
import numpy as np
load = np.loadtxt('asset.csv.txt',delimiter=',',dtype='str')
metro,num_family,age_captain,asset,debt=div_ingredient(load)

Wall time: 206 ms

In [31]:
%%time
# 1번
print("\t\t1인가구\t\t2인가구\t\t3인가구\t\t4인가구\t\t5인이상")
print("수도권",end="\t\t")
for i in range(5):
    metro_n = np.where((metro=='G1')&(num_family==i+1),asset-debt,0);
    print(int(metro_n.sum() / np.count_nonzero(metro_n)),end="\t\t")
print("\n비수도권",end="\t")
for i in range(5):
    nonmetro_n = np.where((metro=='G2')&(num_family==i+1),asset-debt,0)
    print(int(nonmetro_n.sum() / np.count_nonzero(nonmetro_n)),end="\t\t")

		1인가구		2인가구		3인가구		4인가구		5인이상
수도권		17518		44448		49660		53632		60608
비수도권	10994		30802		32053		37865		37412		Wall time: 12 ms

In [23]:
%%time
# 2번
lookedup_arr=np.array([29,39,49,59,200])
row_list=['20대\t','30대\t','40대\t','50대\t','60대↑\t',]
print("\t1인가구\t\t2인가구\t\t3인가구\t\t4인가구\t\t5인이상")
for i,start_age in enumerate(lookedup_arr):
    print("\n",row_list[i],end=" ")
    for num in range(1,6):
        select = np.where((num_family==num) & (age_captain > i*10+19) & (age_captain < lookedup_arr[i]),asset-debt,0)
        print(int(select.sum() / np.count_nonzero(select)),end="\t \t")

	1인가구		2인가구		3인가구		4인가구		5인이상

 20대	 4153	 	10120	 	12941	 	8202	 	14689
 30대	 8262	 	18935	 	23931	 	25687	 	27186
 40대	 15712	 	21975	 	32874	 	40902	 	40942
 50대	 11611	 	28091	 	43012	 	51115	 	52602
 60대↑	 14232	 	40954	 	48716	 	60094	 	66201	 	Wall time: 18 ms