# 김수환_03
KwangWoon University 전자통신공학과 2014707073 김수환   
빅데이터언어 Hw3 : 파이썬을 이용한 통계청 데이터 분석

In [1]:
# 분류별로 데이터를 나누는 함수
def div_ingredient(load):    
    metro = load[:,0] # 수도권 데이터
    family_num = load[:,1].astype('int') # 가족구성원 데이터
    captain_age = load[:,2].astype('int') # 가장의 나이 데이터
    asset=load[:,3].astype('int') # 자산 데이터
    debt=load[:,4].astype('int') # 부채 데이터
    
    return metro, family_num, captain_age,asset,debt

In [2]:
# 1번
def problem_1(metro, fam, asset, debt):
    row_list = ['수도권\t',"\n비수도권"]
    lookedup_fam = [2,3,4,5,10]
    EXCEPT = 0.5
    print("\t",*['\t1인가구\t','\t2인가구\t','\t3인가구\t','\t4인가구\t','\t5인가구↑\n'])
    for i, row in enumerate(row_list):
        print(row,end='\t')
        for j, luf in enumerate(lookedup_fam):
            select = np.where((metro == ('G'+ str(i+1))) & (fam > j) & (fam < luf),asset-debt, EXCEPT);
            print("{0:7.0f}".format(select[select != EXCEPT].mean()),end="\t\t")

In [3]:
# 2번
def problem_2(metro, fam ,cap, asset, debt):
    lookedup_age = [30,40,50,60,200]
    lookedup_fam = [2,3,4,5,10]
    EXCEPT = 0.5
    row_list=['20대\t','30대\t','40대\t','50대\t','60대↑\t']
    print("\n\n",*['\t1인가구\t','\t2인가구\t','\t3인가구\t','\t4인가구\t','\t5인가구↑'])
    for i,lu_age in enumerate(lookedup_age):
        print("\n",row_list[i],end=" ")
        for j, lu_fam in enumerate(lookedup_fam):
            select = np.where((fam > j) & (fam < lu_fam) & (cap > i*10+19) & (cap < lu_age),asset-debt, EXCEPT)
            print("{0:6.0f}".format(select[select!= EXCEPT].mean()),end="\t\t")

In [6]:
%%time
import numpy as np
load = np.loadtxt('asset.csv',delimiter = ',',dtype='str')
metro,family_num,captain_age,asset,debt = div_ingredient(load)

Wall time: 235 ms

In [7]:
%%time
problem_1(metro,family_num,asset,debt)

	 	1인가구	 	2인가구	 	3인가구	 	4인가구	 	5인가구↑

수도권		  17491		  44449		  49661		  53632		  60370
비수도권	  10990		  30803		  32054		  37865		  37447		Wall time: 15.9 ms

In [8]:
%%time
problem_2(metro,family_num,captain_age,asset,debt)

 	1인가구	 	2인가구	 	3인가구	 	4인가구	 	5인가구↑

 20대	   4754		 11468		 11950		  7926		 14552
 30대	   8488		 18861		 24389		 27595		 27376
 40대	  15866		 21337		 33170		 40676		 40685
 50대	  11917		 29255		 43535		 52297		 52902
 60대↑	  14222		 40955		 48717		 60094		 62211		Wall time: 20.9 ms

In [8]:
%%time
metro,family_num,captain_age,asset,debt = div_ingredient(load)
problem_1(metro,family_num,asset,debt)
problem_2(metro,family_num,captain_age,asset,debt)

	 	1인가구	 	2인가구	 	3인가구	 	4인가구	 	5인가구↑

수도권		  17491		  44449		  49661		  53632		  60370
비수도권	  10990		  30803		  32054		  37865		  37447

 	1인가구	 	2인가구	 	3인가구	 	4인가구	 	5인가구↑

 20대	   4754		 11468		 11950		  7926		 14552
 30대	   8488		 18861		 24389		 27595		 27376
 40대	  15866		 21337		 33170		 40676		 40685
 50대	  11917		 29255		 43535		 52297		 52902
 60대↑	  14222		 40955		 48717		 60094		 62211		Wall time: 85.8 ms